In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv('data.csv')

# calculate magnitude of acceleration readings
df['Acc_Magnitude'] = df.apply(lambda x: np.sqrt(x['accel_x']**2 + x['accel_y']**2 + x['accel_z']**2), axis=1)

# calculate magnitude of gyro readings
df['Gyro_Magnitude'] = df.apply(lambda x: np.sqrt(x['gyro_x']**2 + x['gyro_y']**2 + x['gyro_z']**2), axis=1)

df

,accel_x,accel_y,accel_z,gyro_x,gyro_y,gyro_z,Acc_Magnitude,Gyro_Magnitude
0,0.00,0.00,0.00,0.00,0.00,0.00,0.000000,0.000000
1,4.42,-2.59,3.65,0.05,0.22,0.26,6.290231,0.344238
2,4.72,-4.19,4.52,-0.13,0.94,1.56,7.763047,1.825952
3,9.10,-7.72,7.15,0.14,0.73,1.33,13.911538,1.523614
4,0.82,-6.16,5.98,-0.07,2.00,1.82,8.624291,2.705051
...,...,...,...,...,...,...,...,...
95,-7.58,2.33,12.64,-2.83,-4.37,-4.37,14.921625,6.797257
96,11.66,-8.33,10.69,2.79,3.16,1.80,17.877936,4.583634
97,-5.50,1.88,14.35,-1.29,-4.37,-3.74,15.482471,5.894794
98,16.78,-5.61,13.70,4.37,2.81,3.19,22.377008,6.096647
99,-15.05,2.32,12.07,-2.52,-4.37,-4.37,19.431155,6.674144

In [25]:
dfm=df.iloc[:, -2:]
dfm

    Acc_Magnitude  Gyro_Magnitude
0        0.000000        0.000000
1        6.290231        0.344238
2        7.763047        1.825952
3       13.911538        1.523614
4        8.624291        2.705051
..            ...             ...
95      14.921625        6.797257
96      17.877936        4.583634
97      15.482471        5.894794
98      22.377008        6.096647
99      19.431155        6.674144

[100 rows x 2 columns]

In [26]:
dfs = []
for i in range(0, len(df), 5):
    dfs.append(dfm.iloc[i:i+5])

# print the extracted dataframes
for i, df_5rows in enumerate(dfs):
    globals()[f"df{i+1}"] = df_5rows

In [27]:
df20

    Acc_Magnitude  Gyro_Magnitude
95      14.921625        6.797257
96      17.877936        4.583634
97      15.482471        5.894794
98      22.377008        6.096647
99      19.431155        6.674144

In [28]:
# Calculate the average of each DataFrame
avg_list = []
for df in dfs:
    avg = df.mean()
    avg_list.append(avg)

# Create a new DataFrame to store the averages
avg_df = pd.DataFrame(avg_list)

In [29]:
avg_df

    Acc_Magnitude  Gyro_Magnitude
0        7.317821        1.279771
1        9.509235        1.671784
2        9.347316        2.579802
3       10.558192        3.915035
4        8.604667        3.319600
5        9.824488        2.906159
6       10.858764        2.657451
7       10.008657        4.311028
8        9.571211        2.343612
9        9.663467        2.917120
10       9.194809        2.469375
11      10.863922        4.325992
12      10.233957        3.172495
13      11.995521        3.463969
14      15.743733        4.740049
15      13.684443        6.125030
16      11.688684        3.995587
17      11.410738        3.439619
18      16.151650        6.108601
19      18.018039        6.009295

In [30]:
avg_df.to_csv('avg_te.csv', index=False)

In [42]:
type(df20)

pandas.core.frame.DataFrame

In [22]:
ttt=avg_df.iloc[5:10]
ttt

   Acc_Magnitude  Gyro_Magnitude
5       8.801057        0.038122
6       8.813059        0.037027
7       8.820788        0.035792
8       8.808512        0.033708
9       8.798635        0.034866

In [23]:
ttt.to_csv('ttt.csv', index=False)